mixin form(page, index, group)
  h3= page.title
  each question, q_index in page.questions
    if ("group" + group == question.type) || question.type == ""
      .question
        label(for=index + "_" + q_index)= question.title
        input(type="text", id=index + "_" + q_index, placeholder="Answer...", class="question_input")
  button(onclick='nextPage()') Next

mixin text(page, index, group)
  if group == 1
    p= page.group1
  else
    p= page.group2
  div(class="prompt prompt_" + index, id="prompt_" + index)
    if index == 0
      p= "Click \"Go!\" when you are ready to read your first text"
    else
      p= "Click Go! when you are ready to read your next text"
    button(onclick='startTime(' + index + ', \"prompt_' + index + '\")') Go!
  button(onclick='nextPage(); stopTime(' + index + ')') Done
